/* css reset */
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
*{
    box-sizing: border-box;
}
*:before,*:after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}
a{
    color:inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
    max-height: 100%;
    /* 图片宽高不超过容器宽高 */
}
/* style */
body{
    background: #eee;
    position: relative;
}
h1{
    margin-bottom: 20px;
}
.globalHeader{
    margin: 20px 20px;
}
@media(min-width:500px){
    .globalHeader{
        margin-top: 80px;
        margin-bottom: 60px;
    }
    h1{
        display: flex;
        justify-content: center;
        margin-top: -30px;
    }
}
.globalHeader> .searchForm{
    display:flex;
    justify-content: center;
}
@media(min-width:500px){
    .searchForm{
        max-width: 410px;
        margin-left:auto; 
        margin-right: auto;
        /* 当元素有最大宽度时可用以上方法居中 */
    }
}
.globalHeader> .searchForm > input{
    width: 100%;
    margin-right: 10px;
    height:40px;
    padding: 0 10px;
    /* 让光标向右10像素 */
    border:1px solid #ddd;
    /* 覆盖原始input边框 */
    border-radius: 4px;
    outline:none;
    box-shadow:2px 2px 2px rgb(221, 221, 221) ;
}
.globalHeader> .searchForm > button{
    white-space: nowrap;     
    /* 如果button里是文字,这样可以禁止搜索键换行 */
    padding: 0px 28px;
    display:flex;
    justify-content: center;
    align-items: center;
    /* 图标上下居中 */
    border:1px solid #ddd;
    border-radius: 4px;
    background: #1296db;
    box-shadow:2px 2px 2px rgb(221, 221, 221) ;
    cursor: pointer;
}
.globalHeader> .searchForm > button .icon{
    width:24px;
    height:24px;
}
.globalContent{
    max-width: 900px;
    margin-left:auto; 
    margin-right: auto;
}

.siteList{
    margin:30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(min-width:500px){
    .siteList{
        margin-left: 0;
        margin-right: -25px;
        justify-content: flex-start;
    }
}
.siteList >li{
    margin-bottom: 16px;
    /* 站点卡片上下隔16像素 */
}
@media(min-width:500px){
    .siteList >li{
        margin-bottom: 25px;
        margin-right: 25px;
    }
}
.siteList >li .site{
    border:1px solid #ddd;
    border-radius: 4px;
    width:160px;
    padding: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 令图标和网址居中并竖向分布 */
    background: white;
    position: relative;
    cursor: pointer;
    /* 悬浮时指针显示手形 */
    box-shadow:2px 2px 2px rgb(221, 221, 221) ;
}
.siteList >li .site> .logo{
    color:#2c2c2c;
    width: 56px;
    height: 56px;
    font-size: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.siteList >li .site> .link{
    color:#2c2c2c;
    font-size: 16px;
    margin-top: 4px;
    height: 30px;
    max-width: 110px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.siteList >li .site> .close{
    position: absolute;
    margin-top: 4px;
    right: 10px;
    top:2px;
    display: none;
    cursor: default;
    /* 鼠标浮动到close处恢复默认指针 */
}
.siteList >li .site:hover > .close{
    display: block;
}
@media(max-width:500px){
.siteList >li .site> .close{
    display: block;
}
}
.siteList >li .addButton{
    background: white;
    border:1px solid #ddd;
    border-radius: 4px;
    width:160px;
    padding: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow:2px 2px 2px rgb(221, 221, 221) ;
}
.siteList >li .addButton .icon{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteList >li .addButton .text{
    color:#2c2c2c;
    font-size: 16px;
    margin-top: 4px;
    height: 30px;
}
.dialogContainer{
    position: fixed;
    overflow: auto;
    top: 23vh;
    width: 100%;
    z-index: 10000;
    display: none;
}
@media(min-width:500px){
    .dialogContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width:400px;
        position: fixed;
    }
}
.editLinkDialog{
    background-color: #fff;
    border-radius: 6px;
    border:1px solid #ddd;
    box-shadow: 1px 1px 3px rgb(221, 221, 221) ;
    margin: 0 20px;
    padding: 16px;
}
.dialogTitle{
    font-size: 20px;
    margin-bottom: 20px;
    color:#2e2e2e;
}
.editName{
    color:#2e2e2e;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
}
#dialogInput{
    background-color: rgb(241,243,244);
    border: none;
    border-radius: 4px;
    color:#2e2e2e;
    font-size: 13px;
    line-height: 1.6;
    min-height: 32px;
    outline: none;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    width: 100%;
}

.buttonContainer{
    position: relative;
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}
.inputContainer{
    height: 40px;
    margin-bottom: 6px;
}
#dialogButton{
    background-color: #fff;
    border:1px solid #ddd;
    box-shadow: 1px 1px 1px rgb(221, 221, 221) ;
    outline: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    min-height: 32px;
    margin-left: 6px;
    padding: 0 20px;
    position: relative;
}
#dialogButton:active{
    background-color: rgb(241,243,244);
}
.underlineUrl{
    border-bottom: 1.6px solid rgb(26, 136, 232);
    display: none;
    /* transition: opacity 150ms ease-out, width 0ms linear 180ms; */
}
.underlineName{
    border-bottom: 1.6px solid rgb(26, 136, 232);
    display: none;
}
